* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    color: blue;
    background-color: black;
  }
  
  .square1 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;
  }
  /* .card1 {
    font-size: 2em;
    padding-top: 20%;
    } */
  .square2 {

    border: 5px solid rgb(212, 114, 114);
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square3 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square4 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square5 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square6 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square7 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }
  .square8 {

    border: 5px solid lightgrey;
    text-align: center;
    width: 10vw;
    height: 10vw;

  }